.Bandeau-Sponsor {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: white;
    padding: 20px;
}

.text {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-right: 0;
}

.text h2 {
    font-size: 24px;
    font-weight: bold;
}

.logos {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    align-items: center;
    justify-items: center;
    margin-top: 20px;
}

.logos img {
    max-width: 100%;
    height: auto;;
}

.Bandeau-Sponsor p {
    line-height: 1.6;
    width: 100%;
    font-size: 16px;
    color: #333;
    text-align: center;
    font-family: "Open Sans", serif;
}

@media (max-width: 480px) {
    .logos {
        grid-template-columns: 1fr; 
    }

    .text h2 {
        font-size: 20px; 
    }

    .Bandeau-Sponsor p {
        font-size: 14px; 
    }
}