.Bandeau-Sponsor {
    display: flex;
    width: 100%;
    background: white;
}

.text {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: center;
    margin-right: 5%;
    margin-left: 2%;
}

.text h2 {
    font-size: 24px;
    font-weight: bold;
}

.logos {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    align-items: center;
    justify-items: center;
}

.logos img {
    max-width: 250px;
}

.Bandeau-Sponsor p {
    line-height: 2;
    width: 80%;
    font-size: 16px;
    color: #333;
    text-align: right;
    font-family: "Open Sans", serif;
}

@media (max-width: 768px) {
    .Bandeau-Sponsor {
        flex-direction: column; 
        align-items: center; 
        padding: 20px; 
    }

    .text {
        text-align: center; /* Centrer le texte */
        margin-bottom: 20px; /* Espacement entre le texte et les logos */
    }
    
    .text h2 {
        font-size: 20px;
        width: 100%; /* Réduire la taille du titre */
    }

    .Bandeau-Sponsor p {
        width: 100%;
        font-size: 20px; /* Réduire la taille du texte */
        text-align: center;
    }
    .logos {
        flex: 1;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        align-items: center;
        justify-items: center;
        margin-top: 20px;
    }

    .logos img {
        max-width: 100%; /* Réduire la taille des logos */
        height: auto;
    }
}


@media (max-width: 480px) {
    .logos {
        grid-template-columns: 1fr; 
        gap: 10px;
    }

    .text h2 {
        font-size: 25px; 
    }

    .Bandeau-Sponsor p {
        font-size: 16px; 
    }
}