.Bandeau-Illustration {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: 50px;
}

.Bandeau-Illustration>article:nth-child(1) {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
}

.cadre-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px auto;
    z-index: -1;
}

.cadre-container>img {
    width: 18vw;
    max-width: 300px;
}

.cadre {
    border: 15px #aa4f24 solid;
    width: 18vw;
    height: 25vw;
    position: absolute;
    top: -30px;
    left: 40px;
    z-index: -1;
}

/* Ecriture  */

.Bandeau-Illustration h3{
    font-family: "Montserrat", serif;
}

.Bandeau-Illustration p{
    font-family: "Open Sans", serif;
    line-height: 2;
    font-size: 2vw;
}

@media (max-width: 768px) {
    .Bandeau-Illustration {
        grid-template-columns: 1fr; /* Une seule colonne sur les petits écrans */
        gap: 20px; /* Espacement entre les éléments */
    }

    .Bandeau-Illustration>article:nth-child(1) {
        margin-left: 5%; /* Réduire la marge gauche */
        margin-right: 5%; /* Réduire la marge droite */
    }

    .cadre-container {
        margin: 20px auto; /* Centrer l'image et réduire les marges */
    }

    .cadre-container>img {
        width: 25vw; /* Réduire la largeur de l'image */
    }

    .cadre {
        width: 25vw; /* Réduire la largeur du cadre */
        height: 35vw; /* Ajuster la hauteur automatiquement */
        
    }

    .Bandeau-Illustration p {
        font-size: 2vw; /* Augmenter la taille de la police sur les petits écrans */
    }
}

@media (max-width: 480px) {
    .Bandeau-Illustration p {
        font-size: 14px; /* Taille fixe pour les très petits écrans */
    }

    .cadre-container>img {
        width: 40vw;
    }

    .cadre {
        width: 40vw;
        height:55vw;
        
    }
}