.Bandeau-Illustration {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: 50px;
}

.Bandeau-Illustration>article:nth-child(1) {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
}

.cadre-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px auto;
    z-index: -1;
}

.cadre-container>img {
    width: 20vw;
    max-width: 320px;
}

.cadre {
    border: 15px #aa4f24 solid;
    width: 18vw;
    height: 25vw;
    position: absolute;
    top: -30px;
    left: 80px;
    z-index: -1;
}

/* Ecriture  */

.Bandeau-Illustration h3{
    font-family: "Montserrat", serif;
}

.Bandeau-Illustration p{
    font-family: "Open Sans", serif;
    line-height: 2.5;
    font-size: 1.5vw;
    width: 100%;
}

@media (max-width: 768px) {
    .Bandeau-Illustration {
        grid-template-columns: 1fr; 
        gap: 20px;
    }

    .Bandeau-Illustration>article:nth-child(1) {
        margin-left: 5%; 
        margin-right: 5%; 
    }

    .cadre-container {
        margin: 20px auto; 
    }

    .cadre-container>img {
        width: 25vw; 
    }

    .cadre {
        width: 25vw; 
        height: 35vw; 
        left: 50px;
        
    }

    .Bandeau-Illustration p {
        font-size: 2vw; 
    }
}

@media (max-width: 480px) {
    .Bandeau-Illustration p {
        font-size: 14px; 
    }

    .cadre-container>img {
        width: 40vw;
    }

    .cadre {
        width: 40vw;
        height:55vw;
        left: 50px;
        
    }
}