/* Global styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  /* Appliquer à tous les éléments */
  * {
    box-sizing: border-box; /* Inclut le padding et la bordure dans la largeur */
    margin: 0;
    padding: 0;
  }
  
  /* Empêcher le débordement horizontal */
  body, html {
    width: 100%;
    overflow-x: hidden; /* Cache tout débordement horizontal */
  }
  
  
  
  /*//////////////////////////////////////////*/
  
  /*              Partie Header               */
  
  /*//////////////////////////////////////////*/
  
  header {
    background-color: #38536e;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  header .header-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  header .logo {
    height: 50px;
    cursor: pointer;
    left: 0;
  }
  
  header h1 {
    flex: 1;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
  }
  
  header .user-container {
    position: relative;
  }
  
  header .login-button {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
    font-size: 16px;
  }
  
  header .login-button:hover {
    background-color: #2980b9;
  }
  
  header .user-box {
    display: flex;
    align-items: center;
    background: white;
    color: black;
    padding: 7px 15px;
    border-radius: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: 0.3s;
  }
  
  header .user-box:hover {
    background-color: #f8f9fa;
  }
  
  header .user-icon {
    width: 36px;
    height: 36px;
    background-color: #3498db;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    margin-right: 10px;
  }
  
  header #user-name {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    display: flex;
    align-items: center;
  }
  
  header #user-name::after {
    content: "▼";
    font-size: 12px;
    margin-left: 5px;
    transition: transform 0.3s;
  }
  
  header .user-box.active #user-name::after {
    transform: rotate(180deg);
  }
  
  header .dropdown-menu {
    position: absolute;
    top: calc(100% + 10px);
    right: 0;
    background: #fff;
    color: #333;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    width: max-content;
    z-index: 100;
  }
  
  header .dropdown-menu p {
    margin: 5px 0 15px;
    font-weight: bold;
    width: auto;
  }
  
  header #logout-button {
    width: 100%;
    padding: 10px;
    background: #e74c3c;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    font-weight: bold;
    transition: 0.3s;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 16px;
    text-transform: none;
    letter-spacing: 0;
  }
  
  header #logout-button:hover {
    background: #c0392b;
  }
  
  button:disabled {
    background: #bdc3c7 !important;
    color: white !important;
    cursor: not-allowed !important;
  }
  
  header .hidden {
    display: none;
  }
  
  @media (max-width: 768px) {
    header .login-button {
      padding: 2% 4%;
      font-size: 3.5vw;
      border-radius:15px;
    }
  
    header .logo {
          height: 30px; /* Réduire la taille du logo */
          left: 0;
      }
  
      header h1 {
        font-size: 20px; /* Réduire la taille de la police */
    }

    header .user-box {
      padding: 5px 10px;
      border-radius: 15px;
    }

    header .user-icon {
      width: 30px;
      height: 30px;
      font-size: 16px;;
    }

    header #user-name {
      font-size: 14px;
    }

    header #user-nsme::after {
      font-size: 10px;
    }

    header .dropdown-menu {
      top: calc(100% + 5px);
      padding: 10px;
    }

    header #logout-button {
      padding: 8px;
      font-size: 14px;
    }
  }
  
  @media (max-width: 480px) {
    header {
        padding: 10px; /* Réduire le padding sur les très petits écrans */
    }
  
    header .logo {
        height: 25px; /* Réduire davantage la taille du logo */
    }
  
    header h1 {
        font-size: 15px;
        margin-left: 15px; /* Réduire la taille de la police du titre */
    }
  
    header .login-button {
        padding: 5px 10px; /* Réduire le padding du bouton de connexion */
        font-size: 12px; /* Réduire la taille de la police du bouton */
        border-radius: 10px; /* Ajuster le border-radius */
    }

    header .user-box {
      padding: 4px 8px;
      border-radius: 12px;
    }

    header .user-icon {
      width: 24px;
      height: 24px;
      font-size: 14px;
    }

    header #user-name {
      font-size: 12px;
    }

    header #user-name::after {
      font-size: 8px;
    }

    header .dropdown-menu {
      top: calc(100% + 5px);
      padding: 8px;
    }

    header #logout-button {
      padding: 6px;
      font-size: 12px;
    }
  }
  
  @media (max-width: 320px) {
    header .login-button {
        padding: 4px 8px; /* Réduire encore le padding */
        font-size: 10px; /* Réduire encore la taille de la police */
    }
  }
  
  
  /*//////////////////////////////////////////*/
  
  /*           Partie Navigation              */
  
  /*//////////////////////////////////////////*/
  
  .menu-toggle {
    display: none;
    position: absolute;
    top: 15px;
    left: 8%;
    background: none;
    border: none;
    color: white;
    font-size: 4vw;
    cursor: pointer;
    z-index: 1000;
    outline: none;
    box-shadow: none;
  }
  
  nav.Spe {
    background: linear-gradient(to bottom, #38536e, rgba(255, 255, 255, 0.5));
  }
  
  .nav-container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
  }
  
  .nav-list li {
    position: relative;
  }
  
  .nav-list a {
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    display: block;
    &[data-outlined] {
      border: 1px solid white;
      border-radius: 4px;
      &:hover {
        background-color: white;
        color: var(--couleur3);
      }
      transition: background-color 0.2s, color 0.2s;
    }
  }
  
  .nav-list a:hover {
    background: var(--couleur3);
  }
  
  .submenu {
    display: none;
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    background: #34495e;
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 10;
  }
  
  .nav-list li:hover .submenu {
    display: block;
  }
  
  .submenu li a {
    padding: 10px 20px;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .menu-toggle {
      display: block;
      left: 15%;
      top: 10px;
    }
  
    .nav-container {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 70%;
      height: 100vh;
      background: rgb(71, 68, 68);
      flex-direction: column;
      text-align: center;
      padding-top: 60px;
      transition: transform 0.3s ease-in-out;
      transform: translateX(-100%);
    }
  
    .nav-container.open {
      display: flex;
      transform: translateX(0);
      z-index: 2;
      height: 100%;
    }
  
    .nav-list {
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
  
    .nav-list li {
      width: 100%;
    }
  
    .submenu {
      position: static;
      display: none;
    }
  
    .nav-list li:hover .submenu {
      display: block;
    }
  }
  
  @media (max-width: 480px) {
    .nav-container {
      width: 80%; /* Augmenter la largeur du menu pour les très petits écrans */
  }
  
  .nav-list a {
      padding: 10px 15px; /* Réduire le padding des liens */
      font-size: 14px; /* Réduire la taille de la police des liens */
  }
  }
  
  
  /*//////////////////////////////////////////*/
  
  /*             Partie Footer                */
  
  /*//////////////////////////////////////////*/
  
  footer {
    background-color: #000000;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 130px;
    border-bottom: 0;
    margin-top: 50px;
  }
  
  @media screen and (max-width: 450px) {
    footer {
      height: auto;
      padding: 2% 1%
    }
    footer p {
      width: 90%;
      padding: 1%;
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
    }
  }
  
  @media screen and (min-width: 451px) {
    footer p {
      border-top: 2px solid white;
      border-bottom: 2px solid white;
      width: 80%;
      padding: 20px;
      font-family: "Open Sans", sans-serif;
    }
  }
  
  /* Pour le bouton top */
  
  #scrollUp {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #15297c;
    position: fixed;
    right: -100px;
    bottom: 10px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }
  
  .icone {
    height: 30px;
    width: 30px;
  }