/* Navigation */
.menu-toggle {
    display: none;
}

nav.Spe {
    background-color: rgb(71, 68, 68);
}

.nav-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 0;
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.nav-list li {
    position: relative;
}

.nav-list a {
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    display: block;
    &[data-outlined] {
        border: 1px solid white;
        border-radius: 4px;
        &:hover {
            background-color: white;
            color: var(--couleur3);
        }
        transition: background-color 0.2s, color 0.2s;
    }
}

.nav-list a:hover {
    background: var(--couleur3);
}

/* Submenu */
.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #34495e;
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 10;
}

.nav-list li:hover .submenu {
    display: block;
}

.submenu li a {
    padding: 10px 20px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .menu-toggle {
        display: block;
        position: absolute;
        top: 15px;
        right: 20px;
        background: none;
        border: none;
        color: white;
        font-size: 28px;
        cursor: pointer;
        z-index: 20;
    }

    .nav-container {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 70%;
        height: 100vh;
        background: rgb(71, 68, 68);
        flex-direction: column;
        text-align: center;
        padding-top: 60px;
        transition: transform 0.3s ease-in-out;
        transform: translateX(-100%);
    }

    .nav-container.open {
        display: flex;
        transform: translateX(0);
        z-index: 2;
        height: 100%;
    }

    .nav-list {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .nav-list li {
        width: 100%;
    }

    .submenu {
        position: static;
        display: none;
    }

    .nav-list li:hover .submenu {
        display: block;
    }
}