$themes: (
    jungle: (
        couleur1: rgba(10, 71, 36, 1),
        couleur2: rgba(10, 143, 39, 1),
        couleur3: rgba(7, 112, 30, 1),
        couleur4: rgba(53, 62, 57, 1),
        couleur5: rgba(32, 79, 42, 1),
        couleur6: rgba(2, 70, 17, 1),
        couleur7: rgba(10, 71, 36, 1),
        couleur8: rgba(10, 143, 39, 1),
        couleur9: rgba(7, 112, 30, 1)
    ),
    desert: (
        couleur1: rgba(194, 140, 83, 1),
        couleur2: rgba(237, 201, 175, 1),
        couleur3: rgba(241, 194, 125, 1),
        couleur4: rgba(232, 157, 78, 1),
        couleur5: rgba(255, 183, 77, 1),
        couleur6: rgba(210, 105, 30, 1),
        couleur7: rgba(179, 134, 98, 1),
        couleur8: rgba(229, 152, 102, 1),
        couleur9: rgba(255, 228, 181, 1)
    )
);
